/* common style */

header {
    background-color: blue;
}

header,
nav,
section,
footer {
    padding: 10px;
}

header a,
section h2 {
    color: white;
}

header h1,
header p,
section h2,
section p {
    margin: 0;
}

nav a,
section h2,
section p {
    padding: 5px;
}

header,
nav,
section {
    margin-bottom: 20px;
}

nav,
section {
    padding: 0;
}

a {
    text-decoration: none;
    color: blue
}

a:hover {
    text-decoration: underline;
}

/* end of common style */

/* body */
body {
    margin: auto;
    max-width: 1000px;
    padding: 5px;
}

/* nav */
nav a {
    border: 1px solid blue;
}

/* section */
section h2 {
    display: inline-block;
    background-color: black;
}

/* footer */
footer {
    border: 1px solid black;
}

label {
    display: block;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

button {
    padding: 5px;
}